<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.JPG') }}">
</head>
<body>
    <header>
        <img style="border:5px solid black;" src="{{ url_for('static', filename='images/favicon.JPG') }}" alt="Logo" class="logo">
        <nav>
            <a href="/">Sākums</a>
            <a href="/produkti">Produkti</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ 2025 }} Gus-Veikals</p>
    </footer>
</body>
</html>