{% extends "base.html" %}
{% block title %}Produkti - MiniVeikals{% endblock %}
{% block content %}
    <h1>Produktu saraksts</h1>
    <ul>
            {% for product in products %}
                <li>
                    <a href="/produkti/{{ product['id'] }}"> 
                        {{ product['name'] }} <br>
                        <img src="{{ url_for('static', filename='images/' + product['image']) }}" height="100" width="100">
                    </a>
                </li>
            {% endfor %}
    </ul>
{% endblock %}